fieldset div {
    position: relative;
}

.form-error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: -25%;
    transform: translate(0, 25%);
    font-size: 14px;
    color: var(--semantic-error);
}

.form-error img {
    margin-right: 4px;
    height: 18px;
    width: 18px;
}